body {
	font-family: 'Andale Mono', Monospace;
	background:#444;
	color: white;
	font-size: 14px;
	font-weight: 100;
	padding: 20px;
}

.textapp{
	margin: 5px auto;
	width: 1080px;
	height: 700px;
}

.textfield {
	text-align: center;
	margin-left: 10px;
	float: left;
	background-color: black;
	width: 500px;
	height: 680px;
	color: white;
	padding: 0px 10px;
}

.textline {
	overflow: hidden;
  width: 0;
  white-space: nowrap;
}
@-webkit-keyframes blink {
  50% { border-color: transparent; }
}

.cursor {
  animation: blink .5s step-end infinite alternate;
  border-right: 1px solid white;
}